@using task_4.Models
@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <form asp-antiforgery="true" asp-controller="Home" asp-action="Action">
        <div class="row">
            <input type="submit" name="action" value="Block" class="btn-dark"/>
            <input type="submit" name="action" value="Unblock" class="btn-dark" />
            <input type="submit" name="action" value="Delete" class="btn-dark"/>
        </div><br/>
        
        <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th>ID</th>
            <td>Name</td>
            <th>email</th>
            <th>Is blocked</th>
            <td>Reg. date</td>
            <td>Login date</td>
        </tr>
        @foreach (UserModel u in Model)
        {
            <tr>
                <td><input type="checkbox" class="check" name="id" value="@u.Id"></td>
                <td>@u.Id</td>
                <td>@u.Name</td>
                <td>@u.Email</td>
                <td>@u.Is_Blocked</td>
                <td>@u.Reg_Date</td>
                <td>@u.Login_Date</td>
            </tr>
        }
    </form>
</table>




